//colors
$LightGreen: #7ed56f;
$MediumGreen: #55c57a;
$DarkGreen: #28b485;
$Gray: #777;
$White: #fff;
$black: #000;

$color-cardA-light: #ffb900;
$color-cardA-dark: #ff7730;

$color-cardB-light: #2998ff;
$color-cardB-dark: #5643fa;

$gray-light-1: #f7f7f7;
$gray-light-2: #eee;

$gray-dark-1: #999;
$gray-dark-2: #333;

//font-size
$default-font-size: 1.6rem;

//grid
$grid-width: 114rem;
$grid-width-medium: 96rem;
$grid-width-small: 50rem;

$vartical-margin: 8rem;
$vartical-margin-small: 6rem;

$horizontal-margin: 6rem;

//border-radius
$border-round: 3px;